<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
    <h2>Terms & Conditions</h2>
    <hr>

    <p>
        By using Wanderlust, you agree to the following terms.
    </p>

    <h4>User Responsibilities</h4>
    <ul>
        <li>Provide accurate information.</li>
        <li>Do not post illegal or offensive content.</li>
        <li>Respect other users.</li>
    </ul>

    <h4>Listings</h4>
    <ul>
        <li>Users are responsible for the content they upload.</li>
        <li>Wanderlust may remove inappropriate listings.</li>
    </ul>

    <h4>Limitation of Liability</h4>
    <p>
        Wanderlust is not responsible for damages resulting from the use of the platform.
    </p>

    <h4>Changes</h4>
    <p>
        These terms may be updated without prior notice.
    </p>
</div>